name: Coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  generate-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run CockroachDB Service
        run: docker compose up -d
        env:
          VERSION: v23.2.16

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, pdo_pgsql
          tools: composer:v2
          coverage: pcov

      - uses: ramsey/composer-install@v3

      - name: Configure Database
        run: php ./database.php

      - name: Execute tests
        run: vendor/bin/pest

      - uses: codecov/codecov-action@v5
        with:
          files: ./build/logs/clover.xml
