name: Check & fix styling

on:
  push:
    paths:
      - '**.php'
      - 'pint.json'

jobs:
    pint:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}

            - name: Fix PHP code style issues
              uses: aglipanci/laravel-pint-action@2.4

            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: Fix PHP styling
